<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li *ngIf="getLink()==='/'" class="nav-item">
        <a class="nav-link" routerLink="/question1" routerLinkActive="active">Question 1</a>
      </li>
      <li *ngIf="getLink()==='/'" class="nav-item">
        <a class="nav-link" routerLink="/question2" routerLinkActive="active">Question 2</a>
      </li>
      <li *ngIf="getLink()==='/question1'" class="nav-item">
        <a class="nav-link" routerLink="/question2" routerLinkActive="active">Question 2</a>
      </li>
      <li *ngIf="getLink()==='/question2'" class="nav-item">
        <a class="nav-link" routerLink="/question1" routerLinkActive="active">Question 1</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
